.Shams {
    width: 400px;
    height: 400px;
    background-color: black;
    /* padding */
    /* padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
    padding-right: 50px; */
    /* padding */

    /* padding: 50px (up & down)  80px (left & right); */
    /* padding: 50px 80px; */
    /* padding: 50px (up & down)  80px (left & right); */

    /* padding: 50px (up) 20px (right & left) 80px (bottom); */
    /* padding: 50px 20px 80px; */
    /* padding: 50px (up) 20px (right & left) 80px (bottom); */

    /* padding: 50px (up) 20px (right) 80px (bottom) 90px (left); */
    padding: 50px 20px 80px 90px;
    /* padding: 50px (up) 20px (right) 80px (bottom) 90px (left); */
}

p {
    color: white;
}