/* When setting the style for several link states, there are some order rules:

a:hover MUST come after a:link and a:visited
a:active MUST come after a:hover (https://www.w3schools.com/css/css_link.asp)
 */

a {
    color: red;
    text-decoration: none;
    background-color: whitesmoke;
    font-size: 25px;
    padding: 5px 15px;
    border: 5px solid black;
}

a:visited {
    color: yellow;
    
}

a:hover {
    color: white;
    background-color: black;
}

a:active  {
    color: blueviolet;
}
/* When setting the style for several link states, there are some order rules:

a:hover MUST come after a:link and a:visited
a:active MUST come after a:hover (https://www.w3schools.com/css/css_link.asp)
 */